@import "tailwindcss";

@theme {
  --color-primary: #b54640;
  --color-secondary: #742925;
  --color-dark: #0f0706;
  --color-light: #f4e3e2;
  --font-sans: "Inter", sans-serif;
}

/* Configuraciones base */
body {
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-sans);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}